
{% extends 'base.html' %}
{% load static %}

	{% block meta_content %}
		{% if blog.seo_blog_title %}
		<title>{{ blog.seo_blog_title }}</title>
		{% else %}
		<title>{{ blog.blog_title }}</title>
		{% endif %}
		
		<meta name="description" content="{{ blog.seo_blog_description }}" />
		<meta name="keywords" content="{{ blog.seo_blog_keywords }}" />

		<!-- Facebook and Twitter integration -->
		<meta property="og:title" content="{{ blog.blog_title }}"/>
		{% if blog.blog_image %}
		<meta property="og:image" content="{{ blog.blog_image.url }}"/>
		{% endif %}
		<meta property="og:url" content="{% url 'blog:blog-detail' blog.blog_slug %}"/>
		<meta property="og:site_name" content="{{ this_app.app_name }} - {{ this_app.app_title}}"/>
		<meta property="og:description" content="{{ blog.seo_blog_description }}"/>

		<meta name="twitter:title" content="{{ blog.blog_title }}" />
		{% if blog.blog_image %}
		<meta property="twitter:image" content="{{ blog.blog_image.url }}"/>
		{% endif %}
		<meta name="twitter:url" content="{% url 'blog:blog-detail' blog.blog_slug %}" />
		<meta name="twitter:description" content="{{ blog.seo_blog_description }}" />
		<meta name="twitter:card" content="summary_large_image" />
	{% endblock meta_content %}


	{% block content %}
	

				<!-- Blogs Starts Here -->
		{% if blog %}

		<div id="fh5co-blog-section" class="fh5co-section-gray" style="padding-bottom:0px;">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 heading-section animate-box">

						<h3>{{ blog.blog_title }}</h3>

						{% if blog.blog_image %}
							<img src="{{ blog.blog_image.url }}" class="img-responsive" alt="{{ blog.blog_title }}">
							<br>
						{% endif %}

						<div>
							{% if blog.blog_category %}
								{% for category in blog.blog_category.all %}
									<button type="button" class="btn btn-primary">
									 {{category}}  <span class="badge badge-light">4</span>
									</button>
								{% endfor %}
							{% else %}
								No Category
							{% endif %}
						</div>
						<br>

						<p>
							<small>Published By <strong>{{ blog.blog_added_by.first_name }}  {{ blog.blog_added_by.last_name }}</strong> on <strong>{{ blog.blog_created_at }}</strong></small>
						</p>

						<div>{{ blog.blog_description|safe }}</div>
						
					</div>
				</div>
			</div>
		</div>

		{% endif %}
		<!-- Blog Ends Here -->
		
		<!-- Similar Blogs Starts Here -->
		{% if similar_blogs %}
			<div id="fh5co-blog-section" class="fh5co-section-gray" style="padding-top:10px;">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
							<h3>Similar Blogs</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row row-bottom-padded-md">

						{% for blog in similar_blogs %}
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="fh5co-blog animate-box">

								{% if blog.blog_image %}
									<a href="{% url 'blog:blog-detail' blog.blog_slug %}"><img class="img-responsive" src="{{ blog.blog_image.url }}" alt="{{ blog.blog_title }}" style="height:200px; width:100%;"></a>
								{% else %}
									<a href="{% url 'blog:blog-detail' blog.blog_slug %}"><img class="img-responsive" src="{% static 'images/no-image.jpg' %}" alt="{{ blog.blog_title }}" style="height:200px; width:100%;"></a>
								{% endif %}

								<div class="blog-text">
									<div class="prod-title">
										<h3><a href="{% url 'blog:blog-detail' blog.blog_slug %}">{{ blog.blog_title }}</a></h3>
										<span class="posted_by">{{ blog.blog_created_at }}</span>
										<span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
										<div>{{ blog.blog_description|safe|slice:":100" }} ...</div>
										<p><a href="{% url 'blog:blog-detail' blog.blog_slug %}">Read More...</a></p>
									</div>
								</div> 
							</div>
						</div>
						{% endfor %}
						<div class="clearfix visible-md-block"></div>
					</div>

					<div class="col-md-12 text-center animate-box">
						<p><a class="btn btn-primary btn-outline btn-lg" href="{% url 'blog:all-blogs' %}">See All Blogs <i class="icon-arrow-right22"></i></a></p>
					</div>

				</div>
			</div>
			<!-- Similar Blogs Ends Here -->

			<!-- Other Tours Starts Here -->
		{% elif other_blogs %}
			<div id="fh5co-blog-section" class="fh5co-section-gray">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
							<h3>Other Blogs</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row row-bottom-padded-md">

						{% for blog in other_blogs %}
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="fh5co-blog animate-box">

								{% if blog.blog_image %}
									<a href="{% url 'blog:blog-detail' blog.blog_slug %}"><img class="img-responsive" src="{{ blog.blog_image.url }}" alt=""></a>
								{% else %}
									<a href="{% url 'blog:blog-detail' blog.blog_slug %}"><img class="img-responsive" src="{% static 'images/place-1.jpg' %}" alt=""></a>
								{% endif %}

								<div class="blog-text">
									<div class="prod-title">
										<h3><a href="{% url 'blog:blog-detail' blog.blog_slug %}">{{ blog.blog_title }}</a></h3>
										<span class="posted_by">{{ blog.blog_created_at }}</span>
										<span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
										<p>{{ blog.blog_description|slice:":100" }} ...</p>
										<p><a href="{% url 'blog:blog-detail' blog.blog_slug %}">Read More...</a></p>
									</div>
								</div> 
							</div>
						</div>
						{% endfor %}
						<div class="clearfix visible-md-block"></div>
					</div>

					<div class="col-md-12 text-center animate-box">
						<p><a class="btn btn-primary btn-outline btn-lg" href="{% url 'blog:all-blogs' %}">See All Blogs <i class="icon-arrow-right22"></i></a></p>
					</div>

				</div>
			</div>
		{% endif %}
		<!-- Similar Tours Ends Here -->


	
	{% endblock content %}

