
{% extends 'base.html' %}
{% load static %}


	{% block content %}
	
		<div class="fh5co-hero">
			<div class="fh5co-overlay"></div>
			<div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url({% static 'images/cover_bg_1.jpg' %});">
				<div class="desc">
					<div class="container">
						<div class="row">
							
							<div class="desc2 animate-box">
								<div class="col-sm-7 col-sm-push-1 col-md-7 col-md-push-1">
									<p>&nbsp;</p>
									<h2>500 (Internal Server)</h2><!-- 
									<h3>Fly to Hong Kong via Los Angeles, USA</h3>
									<span class="price">$599</span> -->
									<p><a class="btn btn-primary btn-lg" href="{% url 'page:home' %}">Go Home</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	
	{% endblock content %}

