{% extends 'base.html' %}
{% load static %}


	{% block meta_content %}
		<title>Contact - {{ this_app.app_name }}</title>
		<meta name="description" content="{{ this_app.app_description }}" />
		<meta name="keywords" content="{{ this_app.app_keywords }}" />

		<!-- Facebook and Twitter integration -->
		<meta property="og:title" content="Contact - {{ this_app.app_name }}"/>
		<meta property="og:image" content="{{ this_app.app_logo.url }}"/>
		<meta property="og:url" content="{% url 'page:contact' %}"/>
		<meta property="og:site_name" content="{{ this_app.app_name }} - {{ this_app.app_title}}"/>
		<meta property="og:description" content="{{ this_app.app_description }}"/>

		<meta name="twitter:title" content="Contact - {{ this_app.app_name }}" />
		<meta name="twitter:image" content="{{ this_app.app_logo.url }}" />
		<meta name="twitter:url" content="{% url 'page:contact' %}" />
		<meta name="twitter:description" content="{{ this_app.app_description }}" />
		<meta name="twitter:card" content="summary_large_image" />
	{% endblock meta_content %}


	{% block content %}
		
		<div id="fh5co-contact" class="fh5co-section-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h1>Contact Information</h1>
						<p>For any queries, please reach out to us from the following contact details.</p>
					</div>
				</div>
				<form action="#">
					<div class="row animate-box">
						<div class="col-md-6">
							<h3 class="section-title">Our Address</h3>
							<p>Feel free to visit us or contact at following details.</p>
							<ul class="contact-info">
								<li><i class="icon-location-pin"></i>{{ this_app.app_address }}, P.O. Box: {{ this_app.app_postal }}</li>
								<li><i class="icon-phone2"></i>{{ this_app.app_contact }}</li>
								<li><i class="icon-mail"></i><a href="mailto:{{ this_app.app_email }}">{{ this_app.app_email }}</a></li>
								<li><i class="icon-globe2"></i><a href="http://{{ request.get_host }}" target="_blank">{{ request.get_host }}</a></li>
							</ul>
						</div>
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Name">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Email">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<textarea name="" class="form-control" id="" cols="30" rows="7" placeholder="Message"></textarea>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<input type="submit" value="Send Message" class="btn btn-primary">
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div id="fh5co-testimonial">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Happy Clients</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="box-testimony animate-box">
						<blockquote>
							<span class="quote"><span><i class="icon-quotes-right"></i></span></span>
							<p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
						</blockquote>
						<p class="author">John Doe, CEO <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a> <span class="subtext">Creative Director</span></p>
					</div>
					
				</div>
				<div class="col-md-4">
					<div class="box-testimony animate-box">
						<blockquote>
							<span class="quote"><span><i class="icon-quotes-right"></i></span></span>
							<p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.&rdquo;</p>
						</blockquote>
						<p class="author">John Doe, CEO <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a> <span class="subtext">Creative Director</span></p>
					</div>
					
					
				</div>
				<div class="col-md-4">
					<div class="box-testimony animate-box">
						<blockquote>
							<span class="quote"><span><i class="icon-quotes-right"></i></span></span>
							<p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
						</blockquote>
						<p class="author">John Doe, Founder <a href="#">FREEHTML5.co</a> <span class="subtext">Creative Director</span></p>
					</div>
					
				</div>
			</div>
		</div>

	</div>
	{% comment %} Map Field Starts Here {% endcomment %}
	<div id="map" class="fh5co-map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3531.539494562976!2d85.35390727616684!3d27.73150127616872!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb1b7a2bbfad9d%3A0x20f2b8d2526f3b50!2sHimalayan%20Action!5e0!3m2!1sen!2snp!4v1734520570534!5m2!1sen!2snp" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
		<!-- END map -->


	{% endblock content %}



