
{% extends 'base.html' %}
{% load static %}


	{% block meta_content %}
		<title>All Tours - {{ this_app.app_name }}</title>
		<meta name="description" content="{{ this_app.app_description }}" />
		<meta name="keywords" content="{{ this_app.app_keywords }}" />


		<!-- Facebook and Twitter integration -->
		<meta property="og:title" content="All Tours - {{ this_app.app_name }}"/>
		<meta property="og:image" content="{{ this_app.app_logo.url }}"/>
		<meta property="og:url" content="{% url 'tour:all-tours' %}"/>
		<meta property="og:site_name" content="{{ this_app.app_name }} - {{ this_app.app_title}}"/>
		<meta property="og:description" content="{{ this_app.app_description }}"/>

		<meta name="twitter:title" content="All Tours - {{ this_app.app_name }}" />
		<meta name="twitter:image" content="{{ this_app.app_logo.url }}" />
		<meta name="twitter:url" content="{% url 'tour:all-tours' %}" />
		<meta name="twitter:description" content="{{ this_app.app_description }}" />
		<meta name="twitter:card" content="summary_large_image" />
	{% endblock meta_content %}


	{% block content %}
	

				<!-- Blogs Starts Here -->
		{% if tours %}

		<div id="fh5co-blog-section" class="fh5co-section-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h3>Find Your Perfect Tour</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row row-bottom-padded-md">

					
						{% for tour in tours %}
							<div class="col-lg-4 col-md-4 col-sm-6">
								<div class="fh5co-blog animate-box">

									{% if tour.tour_image %}
										<a href="{% url 'tour:tour-detail' tour.tour_slug %}"><img class="img-responsive" src="{{ tour.tour_image.url }}" alt="{{ tour.tour_title }}" style="height:200px; width:100%;"></a>
									{% else %}
										<a href="{% url 'tour:tour-detail' tour.tour_slug %}"><img class="img-responsive" src="{% static 'images/no-image.jpg' %}" alt="{{ tour.tour_title }}" style="height:200px; width:100%;"></a>
									{% endif %}

									<div class="blog-text">
										<div class="prod-title">
											<h3><a href="#">{{ tour.tour_title }}</a></h3>
											<div style="color:silver; margin-bottom:10px;">
												{% if tour.tour_region %}
													{% for region in tour.tour_region.all %}
													<a href="{% url 'tour:region-detail' region.region_slug %}" style="color:silver;">{{ region }}</a>
													{% endfor %}
												{% endif %}
	
												{% if tour.tour_duration %}
												, {{ tour.tour_duration }} Days
												{% endif %}
												</div>
											<div>{{ tour.tour_description|safe|slice:":150"}} ...</div>
											<p><a href="{% url 'tour:tour-detail' tour.tour_slug %}">Read More...</a></p>
										</div>
									</div> 
								</div>
							</div>
						{% endfor %}
					


					<div class="clearfix visible-md-block"></div>
				</div>

				<!-- Pagination Starts Here -->
				<div class="text-center">
					<nav aria-label="Page navigation example">
					  <ul class="pagination justify-content-center">
					  	{% if tours.has_previous %}
					  	<li class="page-item">
					      <a class="page-link" href="?page=1" tabindex="-1" aria-disabled="true">&laquo; First</a>
					    </li>
					    <li class="page-item">
					      <a class="page-link" href="?page={{ tours.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
					    </li>
					    {% endif %}

					    
					    <li class="page-item active" aria-current="page">
					      <a class="page-link" href="?page={{ tours.number }}"> Page {{ tours.number }} of {{ tours.paginator.num_pages }} <span class="sr-only">(current)</span></a>
					    </li>
					    
					    {% if tours.has_next %}
					    <li class="page-item">
					      <a class="page-link" href="?page={{ tours.next_page_number }}">Next</a>
					    </li>
					    <li class="page-item">
					      <a class="page-link" href="?page={{ tours.paginator.num_pages }}">Last &raquo;</a>
					    </li>
					    {% endif %}

					  </ul>
					</nav>
				</div>
				<!-- Pagination Ends Here -->

			</div>
		</div>

		{% endif %}
		<!-- Blog Ends Here -->
		
		<!-- Regions Starts Here -->
		{% if regions %}
			<div id="fh5co-tours" class="fh5co-section-gray" style="padding-top:0px;">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
							<h3>Best Regions</h3>
							<p>Best Regions to find adventure activities like Trekking, Mountain Climbing, Rafting, Canyoning and Many More.</p>
						</div>
					</div>
					<div class="row">

						{% for region in regions %}
							<div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
								<div href="#">
									{% if region.region_image %}
									<img src="{{ region.region_image.url }}" alt="{{ region.region_title }}" class="img-responsive"  style="height:320px; width:100%;">
									{% else %}
									<img src="{% static 'images/no-image.jpg' %}" alt="Travel Nepal" class="img-responsive"  style="height:320px; width:100%;">
									{% endif %}

									<div class="desc">
										<span></span>
										<h3>{{ region.region_title }}</h3>
										<br>
										{% comment %} <span>3 nights + Flight 5*Hotel</span>
										<span class="price">$1,000</span> {% endcomment %}
										<a class="btn btn-primary btn-outline" href="{% url 'tour:region-detail' region.region_slug %}">Explore Tours <i class="icon-arrow-right22"></i></a>
									</div>
								</div>
							</div>
						{% endfor %}

						<div class="col-md-12 text-center animate-box">
							<p><a class="btn btn-primary btn-outline btn-lg" href="{% url 'tour:all-regions' %}">See All Regions <i class="icon-arrow-right22"></i></a></p>
						</div>
					</div>
				</div>
			</div>
		{% endif %}
		<!-- Regions Ends Here -->

		<!-- Activities Starts Here -->
		<!-- {% if activities %}
			<div id="fh5co-features">
				<div class="container">
					<div class="row">

						{% for activity in activities %}
						<div class="col-md-4 animate-box">
							<div class="feature-left">
								<span class="icon">
									{% if activity.activity_icon %}
										<img src="{{  activity.activity_icon }}" alt="{{ activity.activity_title }}" class="img-responsive">
									{% else %}
										<i class="icon-hotairballoon"></i>
									{% endif %}
								</span>
								<div class="feature-copy">
									<h3>{{ activity.activity_title }}</h3>
									<p>{{ activity.activity_description|slice:":70" }} ...</p>
									<p><a href="#">Learn More</a></p>
								</div>
							</div>
						</div>
						{% endfor %}

					</div>
				</div>
			</div>
		{% endif %} -->
		<!-- Activities Ends Here -->

		
		<!-- Tours Starts Here -->
		<!-- {% if tours %}
			<div id="fh5co-destination">
				<div class="tour-fluid">
					<div class="row">
						<div class="col-md-12">
							<ul id="fh5co-destination-list" class="animate-box">

								{% for tour in tours %}

									{% if forloop.counter == 6 %}
										<li class="one-half text-center">
											<div class="title-bg">
												<div class="case-studies-summary">
													<h2>Most Popular Destinations</h2>
													<span><a href="#">View All Destinations</a></span>
												</div>
											</div>
										</li>
									{% endif %}

									{% if tour.tour_image %}
										<li class="one-forth text-center" style="background-image: url({{ tour.tour_image.url  }}); ">
									{% else %}
										<li class="one-forth text-center" style="background-image: url({% static 'images/no-image.jpg' %}); ">
									{% endif %}
									
										<a href="#">
											<div class="case-studies-summary">
												<h2>{{ tour.tour_title }}</h2>
											</div>
										</a>
									</li>
									
								{% endfor %}

								
							</ul>		
						</div>
					</div>
				</div>
			</div>
		{% endif %} -->
		<!-- Tours Ends Here -->




	
	{% endblock content %}

