
{% extends 'base.html' %}
{% load static %}


	{% block meta_content %}
		{% if tour.seo_tour_title %}
		<title>{{ tour.seo_tour_title }} - {{ this_app.app_name }}</title>
		{% else %}
		<title>{{ tour.tour_title }} - {{ this_app.app_name }}</title>
		{% endif %}

		<meta name="description" content="{{ tour.seo_tour_description }}" />
		<meta name="keywords" content="{{ tour.seo_tour_keywords }}" />

		<!-- Facebook and Twitter integration -->
		<meta property="og:title" content="{{ tour.tour_title }}"/>
		{% if tour.tour_image %}
		<meta property="og:image" content="{{ tour.tour_image.url }}"/>
		{% endif %}
		<meta property="og:url" content="{% url 'tour:tour-detail' tour.tour_slug %}"/>
		<meta property="og:site_name" content="{{ this_app.app_name }} - {{ this_app.app_title}}"/>
		<meta property="og:description" content="{{ tour.seo_tour_description }}"/>

		<meta name="twitter:title" content="{{ tour.tour_title }}" />
		{% if tour.tour_image %}
		<meta property="twitter:image" content="{{ tour.tour_image.url }}"/>
		{% endif %}
		<meta name="twitter:url" content="{% url 'tour:tour-detail' tour.tour_slug %}" />
		<meta name="twitter:description" content="{{ tour.seo_tour_description }}" />
		<meta name="twitter:card" content="summary_large_image" />
	{% endblock meta_content %}


	{% block content %}
	

				<!-- Blogs Starts Here -->
		{% if tour %}

		<div id="fh5co-blog-section" class="fh5co-section-gray" style="padding-bottom:0px;">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 heading-section animate-box">

						<h3>{{ tour.tour_title }}</h3>

						{% if tour.tour_image %}
							<img src="{{ tour.tour_image.url }}" class="img-responsive" alt="{{ tour.tour_title }}">
							<br>
						{% endif %}

						<div>
							{% if tour.tour_region %}
								{% for region in tour.tour_region.all %}
									<button type="button" class="btn btn-primary">
									 {{region}}  <span class="badge badge-light">4</span>
									</button>
								{% endfor %}
							{% else %}
								No Region
							{% endif %}
						</div>
						<br>

						{{ tour.tour_description|safe }}

						{% if tour.tour_map %}
						<div class="text-center" style="margin-bottom:100px;">
							<img src="{{ tour.tour_map.url }}" class="img-responsive" alt="{{ tour.tour_title }} Map">
							<span class="subtext">{{ tour.tour_title }} Map</span>
						</div>
						{% endif %}

						{% if this_app.whatsapp_booking == 'yes' and this_app.app_contact %}
						<div class="text-center" style="margin-bottom:100px;">
							<a href="https://wa.me/{{ this_app.app_contact }}?text=Hi {{ this_app.app_name }}, I want to book {{ tour.tour_title }}." target="_blank" class="btn btn-success btn-outline-success btn-lg">Book On WhatsApp</a>
						</div>
						{% endif %}
						
					</div>
				</div>
			</div>
		</div>

		{% endif %}
		<!-- Blog Ends Here -->
		
		<!-- Similar Tours Starts Here -->
		{% if similar_tours %}
			<div id="fh5co-tours" class="fh5co-section-gray" style="padding-top:10px;">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
							<h3>Similar Tours</h3>
							<p>Best Regions to find adventure activities like Trekking, Mountain Climbing, Rafting, Canyoning and Many More.</p>
						</div>
					</div>
					<div class="row">

						{% for tour in similar_tours %}
							<div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
								<div href="#">
									{% if tour.tour_image %}
									<img src="{{ tour.tour_image.url }}" alt="{{ tour.tour_title }}" class="img-responsive"  style="height:320px; width:100%;">
									{% else %}
									<img src="{% static 'images/no-image.jpg' %}" alt="{{ tour.tour_title }}" class="img-responsive"  style="height:320px; width:100%;">
									{% endif %}

									<div class="desc">
										<span></span>
										<h3>{{ tour.tour_title }}</h3>
										{% if tour.tour_duration %}
											<span>{{ tour.tour_duration }} Days</span>
										{% endif %}
										
										{% if tour.tour_duration %}
											<span class="price">{{ tour.tour_altitude }} <small>mts</small></span>
										{% endif %}

										<a class="btn btn-primary btn-outline" href="{% url 'tour:tour-detail' tour.tour_slug %}">Explore Now <i class="icon-arrow-right22"></i></a>
									</div>
								</div>
							</div>
						{% endfor %}

						<div class="col-md-12 text-center animate-box">
							<p><a class="btn btn-primary btn-outline btn-lg" href="{% url 'tour:all-tours' %}">See All Tours <i class="icon-arrow-right22"></i></a></p>
						</div>
					</div>
				</div>
			</div>
			<!-- Similar Tours Ends Here -->

			<!-- Other Tours Starts Here -->
		{% elif other_tours %}
			<div id="fh5co-tours" class="fh5co-section-gray" style="padding-top:0px;">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
							<h3>Other Tours</h3>
							<p>Best Regions to find adventure activities like Trekking, Mountain Climbing, Rafting, Canyoning and Many More.</p>
						</div>
					</div>
					<div class="row">

						{% for tour in other_tours %}
							<div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
								<div href="#">
									{% if tour.tour_image %}
									<img src="{{ tour.tour_image.url }}" alt="{{ tour.tour_title }}" class="img-responsive"  style="height:320px; width:100%;">
									{% else %}
									<img src="{% static 'images/no-image.jpg' %}" alt="{{ tour.tour_title }}" class="img-responsive"  style="height:320px; width:100%;">
									{% endif %}

									<div class="desc">
										<span></span>
										<h3>{{ tour.tour_title }}</h3>

										{% if tour.tour_duration %}
											<span>{{ tour.tour_duration }} Days</span>
										{% endif %}

										{% if tour.tour_duration %}
											<span class="price">{{ tour.tour_altitude }} <small>mts</small></span>
										{% endif %}

										<a class="btn btn-primary btn-outline" href="{% url 'tour:tour-detail' tour.tour_slug %}">Explore Now <i class="icon-arrow-right22"></i></a>
									</div>
								</div>
							</div>
						{% endfor %}

						<div class="col-md-12 text-center animate-box">
							<p><a class="btn btn-primary btn-outline btn-lg" href="{% url 'tour:all-tours' %}">See All Tours <i class="icon-arrow-right22"></i></a></p>
						</div>
					</div>
				</div>
			</div>
		{% endif %}
		<!-- Similar Tours Ends Here -->


	
	{% endblock content %}

